.album-card {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px;
    
    margin: 5px;
  }
  
  .album-info {
    margin-left: 10px;
    margin-right: 5px;
  }
  
  .album-title {
    font-weight: bold;
  }
  
  .album-artist {
    color: #666;
  }
  