.song-card {
    display: flex;
    align-items: center;
    padding: 10px;
    /*border: 1px solid #ddd;*/
    /*margin: 5px 0;*/
  }
  
  
  .song-title {
    font-weight: bold;
  }
  
  .song-artist {
    color: #666;
  }
  