/* src/components/Header.css */
.header {
    display: flex;
    justify-content:space-between;  
    align-items: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    width: 100%;
    gap: 0px;
  }
  
  .logo {
    font-size: 1em;
    
  }
  
  .search {
    /*flex: 1;*/
    margin: 0.1px;
    padding: 10px;
    width: 416px;
    height: 48px;
    border-radius: 4px;
    font-size: 22px;
    
  }
  
  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 100vw;
    
  }

  